@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0%;
}
body{
    box-sizing: border-box;
    margin: 0%;
    font-family: "Montserrat", serif;
}
/* important */

.container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

/* navbar */
nav{
    background-color: #2E323F;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    position: relative;
}
.nav-list-div{
    display: none;
}

.displayNone{
    display: flex;
}

.nav-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0%;
    
}

.nav-items a{
    text-decoration: none;
    color: #FFFFFF;
}
.nav-items a:hover{
    color: #A59678;
}
.nav-items:first-child{
    margin-top: 20px;
}

.sign-up-btn{
    font-family: "Oswald", sans-serif;
    background-color: #A59678;
    padding: 10px 20px;
    color: #FFFFFF;
    border-radius: 30px;
    border: none;
}

.menu-bar-btn{
    position: absolute;
    left: 30px;
    top: 20px;
    background-color: #2E323F;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}



/* section-one */

.section-one{
    background-color: #3B4050;
    color: #FFFFFF;
    padding: 50px 0px;
    text-align: center;
}
.section-one-container{
    display: flex;
    flex-direction: column;
}
.section-one-container>h1{
    font-size: 40px;
    margin-bottom: 50px;
}
.section-one-container>h1>span{
    color: #A59678;
}
.sec-one-secondary{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.sec-one-btn{
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #A59678;
    padding: 10px 20px;
    color: #FFFFFF;
    border-radius: 30px;
    border: none;
}

/* section-two */
.section-two{
    text-align: center;
    background-color: rgb(235, 235, 235);
    padding: 50px 0px;
}
.section-two-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.section-two-container h3{
    margin-bottom: 20px;
    font-family: "Oswald", sans-serif;
    color: #A59678;
    font-size: 30px;
}
.section-two-container p{
    font-size: 18px;
    color: #3B4050;
}

/* section-three */
.section-three{
    padding: 50px 0px;
}
.section-three-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sec-three-primary{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 21px;
}
.sec-three-primary img{
    width: 100%;
}
.sec-three-primary h3{
    font-family: "Oswald", sans-serif;
    color: #A59678;
    font-size: 36px;
}

.sec-three-secondary{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #FFFFFF;
    font-size: 18px;
}

.sec-three-secondary div{
    background-color: #3B4050;
    padding: 50px 30px;
}
.sec-three-secondary h3{
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    margin-bottom: 15px;
}

/* footer */
footer{
    background-color: #3B4050;
    padding: 100px 0px;
    text-align: center;
}
.footer{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    gap: 20px;
}
.footer>h1{
    font-family: "Oswald", sans-serif;
    font-size: 36px;
}
.footer-content{
    color: #6F737F;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.footer-content h3{
    font-family: "Oswald", sans-serif;
    font-size: 21px;
    color: #A59678;
    margin-bottom: 20px;
}
.footer-content ul{
    list-style-type: none;
    padding: 0%;
}

.footer-content ul li{
    margin-bottom: 10px;
}
.footer-content ul li:hover{
    color: #FFFFFF;
}

.coder>a{
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
}
.coder>a:hover{
    color: #A59678;
}
